#desc {
    margin-bottom: 3em;
}

#inputs {
    margin-bottom: 2em;
}

#inputs table {
    display: inline-block;
}

#inputs th {
    padding-right: 1em;
}

#inputs td {
    padding-left: 0;
}

#inputs input {
    min-width: 2.5em;
}

.inputtable {
    margin-bottom: 1em;
}

.label {
    padding-bottom: 2.5em !important;
}

#vizcontainer {
    padding: 3em;
    max-width: 70em;
}

#downloadsvg {
    margin: 1em 4.5em 0;
}

#runsampling {
    margin: 1em 0;
}

.inline-graph {
    display: inline-block;
    margin-right: 1em;
}
