#inputs table {
    display: inline-block;
}

#inputs .label {
    padding-bottom: 1.2em !important;
    padding-right: 1em;
}

#inputs td {
    padding-left: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#inputs input {
    min-width: 2.5em;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.inputtable {
    margin-bottom: 1em;
}


#vizcontainer {
    padding: 0.5em 3em;
    max-width: 70em;
}

#downloadsvg {
    margin: 1em 4.5em 0;
}

#runsampling {
    margin: 0 0 1em 0;
}

.inline-graph {
    display: inline-block;
    margin-right: 1em;
}
