#app {
    margin: 5em 3em 5em;
    max-width: 70em;
}

#desc {
    margin-bottom: 3em;
}

#inputs1 {
    margin-bottom: 1em;
}

#inputs1 input {
    width: 10em;
}

.label {
    padding-bottom: 1.2em !important;
}

#vizcontainer {
    padding: 3em;
}

#vizlabel {
    margin: 0 0 1em 3em;
}

#downloadsvg {
    margin: 0 4.5em;
}
